
.story-container {
  display: flex;
  gap: 2%;
  overflow-x: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}
.story-container>img{
  border-radius: 50%;
  width: 10%;
}
.story-container::-webkit-scrollbar {
  display: none;
}